body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.profile-picture {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username {
    font-size: 24px;
    margin-bottom: 5px;
}

.bio {
    font-size: 16px;
    color: #666;
}

.navigation {
    background-color: rgb(190, 190, 249);
    padding: 10px 0;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

.user-stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.user-stats div {
    text-align: center;
}

.recent-posts {
    padding: 20px;
    text-align: center; 
}

.post {
    display: inline-block; 
    margin-bottom: 20px;
}

.post-image {
    width: 100%; 
    max-width: 400px; 
    border-radius: 5px;
}

.post-text {
    margin-top: 10px;
    font-size: 18px;
    text-align: center; 
}
